.container {
    display: flex;
}

.container__half {
    flex: 1;
    background-color: aliceblue;
}


#food-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
  
  .food-list-item {
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.8rem;
    border: 1px solid #20437c;
    border-radius: 5%;
    background: #ddeaff;
  }

#range_slider {
    display: flex;
}


